@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Playfair+Display+SC&family=Playfair+Display:wght@400;600;700&display=swap');


html {
    font-size: 14px;
}


.navbar-brand{
    font-family: "Playfair Display", serif;
    font-weight: 600;
}


footer {
    background-color: #EFD3D7;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.button {
    background-color: #EFD3D7;
    padding: 15px 32px;
    border: none;
    text-align: center;
    display: inline-block;
}
